In [3]:
1 + 2

3

In [7]:
name = "Shivam" + " Pandey"
print(name)

Shivam Pandey

In [28]:
#Creating pandas series with Numpy Array
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d','e'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [24]:
#Creating Series with Dict
import pandas as pd
import numpy as np
dict = {'a':1, 'b' : 2, 'c' : 3, 'd' : "ABC"}
s = pd.Series(dict,index=['a','b','c','d','e','f'])
print(s)

a      1
b      2
c      3
d    ABC
e    NaN
f    NaN
dtype: object

In [25]:
#Creating Empty Dataframe
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [30]:
#Creating Dataframe with List
import pandas as pd
a = [1,2,3,4]
df = pd.DataFrame(a)
print(df)

   0
0  1
1  2
2  3
3  4

In [29]:
#Creating empty series
import pandas as pd
ser = pd.Series()
print(ser)

Series([], dtype: float64)

C:\Users\Welcome\AppData\Local\Temp/ipykernel_11500/3730986144.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [33]:
#Creating dataframe with List of Lists
import pandas as pd
a = [['Alex',65],['Matturi',76],['Douguls',72]]
df = pd.DataFrame(a, columns=['Name','Age'])
print(df)
print(df.columns)

      Name  Age
0     Alex   65
1  Matturi   76
2  Douguls   72
Index(['Name', 'Age'], dtype='object')

In [38]:
#creating dataframe with Dict of Lists
import pandas as pd
a ={'Name':['Alex','Matturi','Douguls', 'Shivam','Srichandan'],'Age':[65,76,89,30,43]}
df = pd.DataFrame(a,index=[0,1,2,3,4])
print(df)

         Name  Age
0        Alex   65
1     Matturi   76
2     Douguls   89
3      Shivam   30
4  Srichandan   43

In [50]:
#Creating dataframe with List of Dicts
import pandas as pd
data = [{'a': 1, 'b1': 2},{'a': 5, 'b1': 10, 'c': 20}]
df = pd.DataFrame(data,index=['Row1','Row2'], columns=['a','b1','c'])
print(df)

df1 = pd.DataFrame(data,index=['Row1','Row2'], columns=['a','b1','c1'])
print(df1)

      a  b1     c
Row1  1   2   NaN
Row2  5  10  20.0
      a  b1  c1
Row1  1   2 NaN
Row2  5  10 NaN

In [51]:
#Creating dataframe with Series
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [60]:
#Selecting by label & index
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print("*************")
print(df.loc['b'])
print("*************")
print(df.iloc[1])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
*************
one    2.0
two    2.0
Name: b, dtype: float64
*************
one    2.0
two    2.0
Name: b, dtype: float64

In [64]:
#Adding new rows to Dataframe
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
print(df)
print("************")
df1 = pd.DataFrame([[5,6], [7,8]], columns = ['a','b'])
print(df1)
print("************")
df2 = df.append(df1)
print(df2)

   a  b
0  1  2
1  3  4
************
   a  b
0  5  6
1  7  8
************
   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [73]:
#Deleting the rows based on index
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df1 = pd.DataFrame([[5,6], [7,8]], columns = ['a','b'])
df2 = df.append(df1)
print(df2)
print("**********")
df3 = df2.drop(0)
df4 = df3.drop(1)
print("********")
print(df4)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
**********
********
Empty DataFrame
Columns: [a, b]
Index: []

In [5]:
#Generating random numbers using numpy
import numpy as np

array = np.random.randn(2)
array

array([-0.17237892, -1.53357973])

In [10]:
#Generating random numbers using args
import numpy as np

array = np.random.randn(2,2)
array

array([[ 0.69672261,  0.47643607],
       [-0.61091357, -0.25614175]])

In [17]:
#Sum method in pandas
import pandas as pd

d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
			   'Lee','David','Gasper','Betina','Andres']),
			   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
			   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
			}

df = pd.DataFrame(d)
print(df)
print("***********")
print(df.sum()) #As you are not defining any axis, by default it will be row wise operation.
print("**********")
print(df.sum(axis=1)) #Here we are defining axis 1, means it will perform sum on column wise.

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
***********
Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object
**********
0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

C:\Users\Welcome\AppData\Local\Temp/ipykernel_11520/3134130651.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(axis=1))

In [21]:
#pipe example and appliying on entire table
def adder(ele1,ele2):
	return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3), columns=['col1','col2','col3'])
print(df)
a = df.pipe(adder,1)
print("************")
print(a)

       col1      col2      col3
0 -0.253351 -0.790229 -0.285593
1 -1.221682  0.263473 -0.145857
2  0.873522  1.163650 -0.332650
3  0.586280  0.654956  0.198461
4 -0.326381  0.612483 -0.007266
************
       col1      col2      col3
0  0.746649  0.209771  0.714407
1 -0.221682  1.263473  0.854143
2  1.873522  2.163650  0.667350
3  1.586280  1.654956  1.198461
4  0.673619  1.612483  0.992734

In [29]:
#applying either on row or column only
df = pd.DataFrame(np.random.randn(2,2), columns=['col1','col2'])
print(df)
print("**********")
print(df.apply(np.mean, axis=0)) #By default it will be row wise
print("*************")
print(df.apply(np.mean, axis=1)) #axis 1 represents column wise operations.

       col1      col2
0  1.900897 -1.779758
1  0.736819  0.404835
**********
col1    1.318858
col2   -0.687462
dtype: float64
*************
0    0.060569
1    0.570827
dtype: float64

In [37]:
#Caliculating max-min based on row wise and column wise
df = pd.DataFrame(np.random.randn(3,3), columns=['col1','col2','col3'])
print(df)
print(df.apply(lambda x : x.max() - x.min(), axis=0))#Row wise operation
print("***************")
print(df.apply(lambda x : x.max() - x.min(), axis=1))#Column wise operation

       col1      col2      col3
0  0.759419  0.745521 -0.459754
1 -0.070177 -1.001262  0.077446
2  0.327479  0.135174  0.807577
col1    0.829596
col2    1.746783
col3    1.267331
dtype: float64
***************
0    1.219173
1    1.078708
2    0.672403
dtype: float64

In [5]:
#Reindexing
import pandas as pd
import numpy as np
df = pd.DataFrame({"A":[1, 5, 3, 4, 2], 
                   "B":[3, 2, 4, 3, 4], 
                   "C":[2, 2, 7, 3, 4], 
                   "D":[4, 3, 6, 12, 7]}, 
                   index =["first", "second", "third", "fourth", "fifth"]) 
print(df)
a = df.reindex(["first", "dues", "trois", "fourth", "fifth"])
a

        A  B  C   D
first   1  3  2   4
second  5  2  2   3
third   3  4  7   6
fourth  4  3  3  12
fifth   2  4  4   7

          A    B    C     D
first   1.0  3.0  2.0   4.0
dues    NaN  NaN  NaN   NaN
trois   NaN  NaN  NaN   NaN
fourth  4.0  3.0  3.0  12.0
fifth   2.0  4.0  4.0   7.0

In [8]:
#Filling NaN values with some user defined value & reindexing the rows
import pandas as pd
import numpy as np
df = pd.DataFrame({"A":[1, 5, 3, 4, 2], 
                   "B":[3, 2, 4, 3, 4], 
                   "C":[2, 2, 7, 3, 4], 
                   "D":[4, 3, 6, 12, 7]}, 
                   index =["first", "second", "third", "fourth", "fifth"]) 
print(df)
print("***************")
a = df.reindex(["first", "dues", "trois", "fourth", "fifth"])
print(a)
b = df.reindex(["first", "dues", "trois", "fourth", "fifth"],fill_value=120)
b

        A  B  C   D
first   1  3  2   4
second  5  2  2   3
third   3  4  7   6
fourth  4  3  3  12
fifth   2  4  4   7
***************
          A    B    C     D
first   1.0  3.0  2.0   4.0
dues    NaN  NaN  NaN   NaN
trois   NaN  NaN  NaN   NaN
fourth  4.0  3.0  3.0  12.0
fifth   2.0  4.0  4.0   7.0

          A    B    C    D
first     1    3    2    4
dues    120  120  120  120
trois   120  120  120  120
fourth    4    3    3   12
fifth     2    4    4    7

In [13]:
#Reindex column names
df1 = pd.DataFrame({"A":[1, 5, 3, 4, 2], 
                    "B":[3, 2, 4, 3, 4], 
                    "C":[2, 2, 7, 3, 4], 
                    }) 

print(df1)

df2 = df1.reindex(columns=['A','D','E'])
print(df2)
c = df1.reindex(columns=['A','D','E'], fill_value = 250)
c

   A  B  C
0  1  3  2
1  5  2  2
2  3  4  7
3  4  3  3
4  2  4  4
   A   D   E
0  1 NaN NaN
1  5 NaN NaN
2  3 NaN NaN
3  4 NaN NaN
4  2 NaN NaN

   A    D    E
0  1  250  250
1  5  250  250
2  3  250  250
3  4  250  250
4  2  250  250

In [17]:
#Reindexing to align with other objects
df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
print(df1)
print("***********")
print(df2)
df3 = df2.reindex_like(df1)
df3

       col1      col2      col3
0 -0.789416 -0.039558 -0.470638
1 -0.633013  0.474970  1.381687
2  0.537907  0.690052  0.160503
3  1.049712  0.120638  0.824079
4 -1.063318  0.197021 -1.851249
5 -0.155970  0.412494  0.188667
6 -0.399386  0.549240  1.297863
7 -0.277994  0.600497  0.179122
8 -0.503373 -1.284908 -0.106061
9  0.795542 -0.559976 -0.457966
***********
       col1      col2      col3
0 -0.307548  0.654445  1.102265
1  0.933605  0.140239  1.504967
2  0.787440  0.423851 -0.121237
3  0.909695 -0.321673 -0.607568
4 -1.437065  1.083091 -1.718058
5 -0.393619 -0.682831 -0.907591
6  2.057370 -0.599220  1.558289

       col1      col2      col3
0 -0.307548  0.654445  1.102265
1  0.933605  0.140239  1.504967
2  0.787440  0.423851 -0.121237
3  0.909695 -0.321673 -0.607568
4 -1.437065  1.083091 -1.718058
5 -0.393619 -0.682831 -0.907591
6  2.057370 -0.599220  1.558289
7       NaN       NaN       NaN
8       NaN       NaN       NaN
9       NaN       NaN       NaN

In [22]:
#Iterating over pandas Series/Dataframe
N=22
df = pd.DataFrame({
	   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
	   'x': np.linspace(0,stop=N-1,num=N),
	   'y': np.random.rand(N),
	   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
	   'D': np.random.normal(100, 10, size=(N)).tolist()
	   })

print(df)
print("************")
for col in df:
	   print(col)

            A     x         y       C           D
0  2016-01-01   0.0  0.463801    High  104.439135
1  2016-01-02   1.0  0.969705  Medium  100.795439
2  2016-01-03   2.0  0.233585    High  106.081302
3  2016-01-04   3.0  0.308874    High  121.993569
4  2016-01-05   4.0  0.490156  Medium  105.492138
5  2016-01-06   5.0  0.962963     Low   98.685886
6  2016-01-07   6.0  0.534121     Low   93.280515
7  2016-01-08   7.0  0.022677     Low  124.664915
8  2016-01-09   8.0  0.401204     Low   78.927770
9  2016-01-10   9.0  0.153546    High  108.256208
10 2016-01-11  10.0  0.917013  Medium   90.723452
11 2016-01-12  11.0  0.265173     Low   68.368279
12 2016-01-13  12.0  0.019632  Medium   83.647558
13 2016-01-14  13.0  0.573318    High   87.899271
14 2016-01-15  14.0  0.246767     Low  120.377697
15 2016-01-16  15.0  0.566894     Low   93.465190
16 2016-01-17  16.0  0.890367    High   79.130292
17 2016-01-18  17.0  0.577191    High   94.205545
18 2016-01-19  18.0  0.617192    High  124.596908
19 2016-01-20  19.0  0.730579    High   83.467470
20 2016-01-21  20.0  0.283909    High  115.821210
21 2016-01-22  21.0  0.995196     Low  118.531647
************
A
x
y
C
D

In [4]:
#iterate via the rows using iteritems
import pandas as pd
import numpy as np
N=5
df = pd.DataFrame({
	   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
	   'x': np.linspace(0,stop=N-1,num=N),
	   'y': np.random.rand(N),
	   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
	   'D': np.random.normal(100, 10, size=(N)).tolist()
	   })

print(df)
print("**************")
for key,value in df.iteritems():
    print("key",key,"value",value)

           A    x         y     C           D
0 2016-01-01  0.0  0.190453  High  103.089836
1 2016-01-02  1.0  0.618811   Low  121.145854
2 2016-01-03  2.0  0.292840  High  104.895991
3 2016-01-04  3.0  0.394908  High   89.891406
4 2016-01-05  4.0  0.237316   Low  106.000028
**************
key A value 0   2016-01-01
1   2016-01-02
2   2016-01-03
3   2016-01-04
4   2016-01-05
Name: A, dtype: datetime64[ns]
key x value 0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
Name: x, dtype: float64
key y value 0    0.190453
1    0.618811
2    0.292840
3    0.394908
4    0.237316
Name: y, dtype: float64
key C value 0    High
1     Low
2    High
3    High
4     Low
Name: C, dtype: object
key D value 0    103.089836
1    121.145854
2    104.895991
3     89.891406
4    106.000028
Name: D, dtype: float64

In [5]:
#iterate via the rows using iterrows
import pandas as pd
import numpy as np
N=5
df = pd.DataFrame({
	   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
	   'x': np.linspace(0,stop=N-1,num=N),
	   'y': np.random.rand(N),
	   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
	   'D': np.random.normal(100, 10, size=(N)).tolist()
	   })

print(df)
print("**************")
for row_index,row in df.iterrows():
    print("row_index",row_index,"row",row)

           A    x         y       C          D
0 2016-01-01  0.0  0.598874  Medium  91.079062
1 2016-01-02  1.0  0.645463    High  93.349931
2 2016-01-03  2.0  0.498034     Low  96.699809
3 2016-01-04  3.0  0.004568  Medium  74.361341
4 2016-01-05  4.0  0.595936  Medium  87.230001
**************
row_index 0 row A    2016-01-01 00:00:00
x                    0.0
y               0.598874
C                 Medium
D              91.079062
Name: 0, dtype: object
row_index 1 row A    2016-01-02 00:00:00
x                    1.0
y               0.645463
C                   High
D              93.349931
Name: 1, dtype: object
row_index 2 row A    2016-01-03 00:00:00
x                    2.0
y               0.498034
C                    Low
D              96.699809
Name: 2, dtype: object
row_index 3 row A    2016-01-04 00:00:00
x                    3.0
y               0.004568
C                 Medium
D              74.361341
Name: 3, dtype: object
row_index 4 row A    2016-01-05 00:00:00
x                    4.0
y               0.595936
C                 Medium
D              87.230001
Name: 4, dtype: object

In [6]:
#iterate via the rows using itertuples
import pandas as pd
import numpy as np
N=5
df = pd.DataFrame({
	   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
	   'x': np.linspace(0,stop=N-1,num=N),
	   'y': np.random.rand(N),
	   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
	   'D': np.random.normal(100, 10, size=(N)).tolist()
	   })

print(df)
print("**************")
for row in df.itertuples():
    print("row",row)

           A    x         y       C           D
0 2016-01-01  0.0  0.802472  Medium   94.035538
1 2016-01-02  1.0  0.212969  Medium   95.174028
2 2016-01-03  2.0  0.263484     Low  104.859756
3 2016-01-04  3.0  0.137552     Low   94.389654
4 2016-01-05  4.0  0.981904  Medium  101.649299
**************
row Pandas(Index=0, A=Timestamp('2016-01-01 00:00:00'), x=0.0, y=0.8024715507060138, C='Medium', D=94.03553832241391)
row Pandas(Index=1, A=Timestamp('2016-01-02 00:00:00'), x=1.0, y=0.21296878204997172, C='Medium', D=95.1740279405579)
row Pandas(Index=2, A=Timestamp('2016-01-03 00:00:00'), x=2.0, y=0.2634838738997719, C='Low', D=104.85975551876759)
row Pandas(Index=3, A=Timestamp('2016-01-04 00:00:00'), x=3.0, y=0.13755168566974219, C='Low', D=94.38965397635022)
row Pandas(Index=4, A=Timestamp('2016-01-05 00:00:00'), x=4.0, y=0.9819042389393858, C='Medium', D=101.649298636005)

In [10]:
#reset_index
s = pd.Series([2, 3, 4, 5],
              index=pd.Index(['p', 'q', 'r', 's']))
print(s)
s.reset_index()

p    2
q    3
r    4
s    5
dtype: int64

  index  0
0     p  2
1     q  3
2     r  4
3     s  5

In [17]:
#Loc df
df = pd.DataFrame(np.random.randn(4, 4),
		index = ['a','b','c','d'], columns = ['A', 'B', 'C', 'D'])
print(df)
print("**********")
print(df.loc[:,'D'])

          A         B         C         D
a  1.072754 -1.548775 -1.643803  0.246683
b -1.458653 -1.271410 -0.722258 -0.551817
c -1.055086  1.424571  1.227396 -1.253294
d  0.710920  0.181116 -1.090309  0.024278
**********
a    0.246683
b   -0.551817
c   -1.253294
d    0.024278
Name: D, dtype: float64

In [19]:
#iloc 
df = pd.DataFrame(np.random.randn(4, 4),
		index = ['a','b','c','d'], columns = ['A', 'B', 'C', 'D'])
print(df)
print("**********")
print(df.iloc[:2,:3])

          A         B         C         D
a  1.414510  0.762699  1.662533  0.814861
b  1.808408  0.529480 -0.966812  0.950119
c -1.299027 -0.862662  2.090517  0.876090
d  0.083955  0.755782  0.494742  2.000024
**********
          A         B         C
a  1.414510  0.762699  1.662533
b  1.808408  0.529480 -0.966812

In [26]:
#ix 
df = pd.DataFrame(np.random.randn(4, 4),
		index = ['a','b','c','d'], columns = ['A', 'B', 'C', 'D'])
print(df)
print("**********")
print(df[['A','B','C']])

          A         B         C         D
a -1.234045 -0.620092 -0.604496  0.274858
b -2.238299  0.387862 -1.274030  0.824923
c  0.415778 -1.354779  0.452255  0.513867
d  1.851580  1.743039 -0.523106  0.598319
**********
          A         B         C
a -1.234045 -0.620092 -0.604496
b -2.238299  0.387862 -1.274030
c  0.415778 -1.354779  0.452255
d  1.851580  1.743039 -0.523106

In [28]:
#Accessing  via column
df = pd.DataFrame(np.random.randn(4, 4),
		index = ['a','b','c','d'], columns = ['A', 'B', 'C', 'D'])
print(df)
print("**********")
print(df.D)

          A         B         C         D
a  0.481532  0.386363 -1.395318 -0.060408
b  1.156292  0.092743 -0.608110 -0.624573
c  1.333212 -0.646871 -0.439907  0.169407
d  0.711115  1.208291 -0.481513 -0.004926
**********
a   -0.060408
b   -0.624573
c    0.169407
d   -0.004926
Name: D, dtype: float64