In [3]:
1 + 2

3

In [7]:
name = "Shivam" + " Pandey"
print(name)

Shivam Pandey

In [28]:
#Creating pandas series with Numpy Array
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d','e'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [24]:
#Creating Series with Dict
import pandas as pd
import numpy as np
dict = {'a':1, 'b' : 2, 'c' : 3, 'd' : "ABC"}
s = pd.Series(dict,index=['a','b','c','d','e','f'])
print(s)

a      1
b      2
c      3
d    ABC
e    NaN
f    NaN
dtype: object

In [25]:
#Creating Empty Dataframe
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [30]:
#Creating Dataframe with List
import pandas as pd
a = [1,2,3,4]
df = pd.DataFrame(a)
print(df)

   0
0  1
1  2
2  3
3  4

In [29]:
#Creating empty series
import pandas as pd
ser = pd.Series()
print(ser)

Series([], dtype: float64)

C:\Users\Welcome\AppData\Local\Temp/ipykernel_11500/3730986144.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [33]:
#Creating dataframe with List of Lists
import pandas as pd
a = [['Alex',65],['Matturi',76],['Douguls',72]]
df = pd.DataFrame(a, columns=['Name','Age'])
print(df)
print(df.columns)

      Name  Age
0     Alex   65
1  Matturi   76
2  Douguls   72
Index(['Name', 'Age'], dtype='object')

In [38]:
#creating dataframe with Dict of Lists
import pandas as pd
a ={'Name':['Alex','Matturi','Douguls', 'Shivam','Srichandan'],'Age':[65,76,89,30,43]}
df = pd.DataFrame(a,index=[0,1,2,3,4])
print(df)

         Name  Age
0        Alex   65
1     Matturi   76
2     Douguls   89
3      Shivam   30
4  Srichandan   43

In [50]:
#Creating dataframe with List of Dicts
import pandas as pd
data = [{'a': 1, 'b1': 2},{'a': 5, 'b1': 10, 'c': 20}]
df = pd.DataFrame(data,index=['Row1','Row2'], columns=['a','b1','c'])
print(df)

df1 = pd.DataFrame(data,index=['Row1','Row2'], columns=['a','b1','c1'])
print(df1)

      a  b1     c
Row1  1   2   NaN
Row2  5  10  20.0
      a  b1  c1
Row1  1   2 NaN
Row2  5  10 NaN

In [51]:
#Creating dataframe with Series
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [60]:
#Selecting by label & index
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print("*************")
print(df.loc['b'])
print("*************")
print(df.iloc[1])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
*************
one    2.0
two    2.0
Name: b, dtype: float64
*************
one    2.0
two    2.0
Name: b, dtype: float64

In [64]:
#Adding new rows to Dataframe
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
print(df)
print("************")
df1 = pd.DataFrame([[5,6], [7,8]], columns = ['a','b'])
print(df1)
print("************")
df2 = df.append(df1)
print(df2)

   a  b
0  1  2
1  3  4
************
   a  b
0  5  6
1  7  8
************
   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [73]:
#Deleting the rows based on index
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df1 = pd.DataFrame([[5,6], [7,8]], columns = ['a','b'])
df2 = df.append(df1)
print(df2)
print("**********")
df3 = df2.drop(0)
df4 = df3.drop(1)
print("********")
print(df4)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
**********
********
Empty DataFrame
Columns: [a, b]
Index: []